{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather-APP</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="app-wrap">
        <header>
            <input type="text" autocomplete="off" class="search-box" placeholder="Busque uma Cidade...">
        </header>
        <main>
            <section class="location">
                <div class="city"></div>
                <div class="date"></div>
            </section>
            <div class="current">
                <div class="temp"></div>
                <div class="weather"></div>
                <div class="hi-low"></div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>